/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #CF9FFF;
    flex-direction: column;
    margin: 0;
}


/* Flip Card */

.maincontainer {
    position: absolute;
    width: 300px;
    height: 360px;
    background: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    border: 1px solid black;
}

.maincontainer:hover>.thecard {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.thefront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background: white;
    color: #000;
}

.theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.game-title {
    margin-top: 30%;
    text-align: center;
    color: #006E91;
    text-shadow: 1.3px 1.3px black;
    letter-spacing: 2px;
    font-family: 'Odibee Sans', cursive;
}

.info-title {
    font-weight: bold;
    color: #006E91;
    padding-top: 1em;
    font-family: "Odibee Sans";
    letter-spacing: 2px;
    font-size: 1.5em;
}

.info-list {
    padding-top: 0.5em;
}

.rules {
    font-weight: bold;
    margin: 2px;
    margin-left: 15px;
    padding: 3px;
    display: block;
    text-align: left;
}

.button-div {
    margin-top: .5em;
    width: 100%;
}

.buttons {
    border: 0.18em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    transition: all 0.2s;
    width: 110px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}

.fake-btn-section {
    width: 100%;
    margin-top: 40px;
    border: none;
}

.fake-btn {
    margin: 0 auto;
    display: block;
    background-color: #006E91;
    color: white;
}

.back-card-button {
    margin: 1em;
}

.quit {
    background-color: white;
    border-color: #006E91;
    color: #006E91;
}

.quit:hover {
    background-color: #006E91;
    border-color: #bdbdbd;
    color: white;

}

.continue {
    background-color: #006E91;
    border-color: #bdbdbd;
    color: white;
}

.continue:hover {
    background-color: white;
    border-color: #006E91;
    color: #006E91;
}

/* Quiz Box */
.quiz_box {
    box-shadow: 10px 10px rgba(0, 0, 0, .5);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}

.quiz_box header {
    position: relative;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #006E91;
    text-align: center;
    font-family: 'Odibee Sans', cursive;
}

.quiz_box header .timer {
    color: #263a44;
    background: #CF9FFF;
    border: 1px solid black;
    height: 45px;
    margin-left: 10px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    font-weight: bold;
}

.quiz_box header .time-passed {
    color: #263a44;
    font-weight: bold;
    font-size: 13px;
}

.que_text {
    margin: 20px;
}

#question{
    font-family: "Odibee Sans";
    font-size: 25px;
    letter-spacing: 2px;
}

.question-section .que_text .questions {
    font-size: 1.5em;
    font-weight: 600;
    color: #006E91;
}

.question-section .option_list {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.question-section .option_list .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #006E91;
  
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-right: 50px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    
}

button[id^=ans].option:hover{
   background: #CF9FFF;
   color: #263a44;
}

section .option_list .option:last-child {
    margin-bottom: 0px;
}

/*Correct and Incorrect Answers*/
section .option_list .option.correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.disabled{
    pointer-events: none;
}
/* Quiz-Box Footer*/
footer {
    height: 60px;
    margin-top: 3px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total_que{
    font-family: "Roboto Condensed";
}
footer .total_que span {
    display: flex;
    user-select: none;
    font-size: 18px;
}

.total_que span span {
    font-weight: bold;
    padding: 0 5px;
}

.total_que span p:first-child {
    padding-left: 0px;
}

footer #next-btn {
    height: 50px;
    width: 90px;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    border-radius: 20px;
    background: #006E91;
    border: 2px solid #CF9FFF;
    letter-spacing: 1px;
    line-height: 10px;
   
    transform: scale(0.95);
    transition: all 0.3s ease;
}  

#next-btn:hover{
    background: #5D3FD3;
    border-color: #bdbdbd;
}

.hide{
    display: none;
}

/* Results PopUp*/

.result_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
    box-shadow: 10px 10px rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.result_box .icon .fa-crown {
    padding: .5em 0;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #5D3FD3;
    font-size: 100px;
}

.congrat-text {
    margin: 0 10px 10px;
    font-size: 25px;
    font-family: "Roboto Condensed";
    color: #006E91;
    font-weight: bold;

}

.leaderboard-container {
    width: 90%;
}

header {
    background-color: #16181e;
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
    padding-top: .7rem;
    height: 3rem;
}

header h1 {
    text-align: center;
}

table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}

thead {
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
}


tbody tr:nth-child(2n) {
    background: #006E91;
}

th {
    padding: 0.5rem 0.5rem 0.5rem;
}

#headers{
    background: #006E91;
}

tr {
    text-align: center;
    color: white;
}

td {
    padding: .25rem .25rem;
}

.time-taken .points {
    text-align: center;
}

.result-btn {
    margin: 2em;

}

.replay {
    background-color: #006E91;
    border-color: #bdbdbd;
    color: white;
}

.replay:hover {
    background-color: white;
    border-color: #006E91;
    color: #006E91;
}

.clear {
    background: #5D3FD3;
    color: #fff;
}

.clear:hover {
    background: white;
    color: #5D3FD3;
    border: 2px solid #5D3FD3;
}

@media only screen and (min-width: 768px) {
    .maincontainer {
        width: 500px;
        height: 560px;
    }

    .game-title {
        font-weight: bold;
        color: #006E91;
        font-size: 3em;
    }

    .fake-btn {
        width: 175px;
        height: 80px;
        font-size: 1.5em;
    }

    .info-title {
        font-size: 3em;
    }

    .info-list {
        padding-top: 1em;
    }

    .rules {
        font-weight: bold;
        margin: 5px;
        margin-left: 30px;
        padding: 3px;
        display: block;
        text-align: left;
        font-size: 1.5em;
    }

    .back-card-button {
        width: 175px;
        height: 80px;
        font-size: 1.5em;
    }

    .quiz_box {
        width: 600px;
    }

    .quiz_box header .title {
        font-size: 2em;
    }

    .quiz_box header .timer {
        border: 2px solid black;
        height: 50px;
        width: 250px;
        margin-left: 8px;
        padding: 0 6px;
        justify-content: space-around;

    }

    .quiz_box .timer .time-passed {
        font-size: 20px;
    }

    .question-section .que_text .questions {
        font-size: 30px;
    }

    .question-section .option_list .option {
        border: 2px solid #263a44;
        font-size: 20px;
    }

    footer {
        height: 80px;
    }

    footer .total_que span {
        display: flex;
        user-select: none;
        font-size: 25px;
    }

    footer #next-btn {
        height: 60px;
        width: 120px;
        font-size: 30px;
        border: 3px solid #CF9FFF;
        letter-spacing: 1.5px;
    }

    .result_box {
        width: 500px;
    }

    .result_box .icon .fa-crown {
        font-size: 140px;
    }

    .congrat-text {
        font-size: 35px;
    }

    thead {
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
    }

    tbody td {
        font-size: 1.2rem;
    }

    .result-btn1{
        margin: 3px;
    }
}

@media only screen and (min-width: 1024px) {
    .maincontainer {
        width: 700px;
        height: 760px;
    }

    .game-title {
        font-weight: bold;
        color: #006E91;
        font-size: 6em;
    }

    .fake-btn {
        width: 200px;
        height: 110px;
        font-size: 2.5em;
    }

    .info-title {
        font-size: 4em;
    }

    .info-list {
        padding-top: 1em;
    }

    .rules {
        font-weight: bold;
        margin: 5px;
        margin-left: 30px;
        padding: 3px;
        display: block;
        text-align: left;
        font-size: 2.2em;
    }

    .back-card-button {
        width: 200px;
        height: 110px;
        font-size: 2em;
        
    }

    .quiz_box {
        width: 800px;
    }

    .quiz_box header .title {
        font-size: 3em;
    }

    .quiz_box header .timer {
        border: 2px solid black;
        height: 50px;
        width: 250px;
        margin-left: 8px;
        padding: 0 6px;
        justify-content: space-around;
    }

    .quiz_box .timer .time-passed {
        font-size: 20px;
        margin-bottom: 3px;
    }

    #question{
        font-size: 50px;
    }

    .question-section .option_list .option {
        border: 2px solid #263a44;
        font-size: 35px;
    }

    footer {
        height: 100px;
    }

    footer .total_que span {
        display: flex;
        user-select: none;
        font-size: 40px;
    }

    footer #next-btn {
        height: 80px;
        width: 140px;
        font-size: 40px;
        border: 3px solid #CF9FFF;
        letter-spacing: 1.5px;
    }

    .result_box {
        width: 800px;
    }

    .result_box .icon .fa-crown {
        font-size: 200px;
        padding: .3em 0;
    }

    .congrat-text {
        font-size: 50px;
    }

    thead {
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
    }

    tbody td {
        font-size: 1.3rem;
    }

    .result-btn1{
        margin: 5px;
    }

    #clear-board{
        width: 150px;
        height: 80px;
        font-size: 1.2em;
    }

    #replay{
        width: 150px;
        height: 80px;
        font-size: 1.2em;
    }

    #quit{
        width: 150px;
        height: 80px;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1440px) {
    .maincontainer {
        width: 1000px;
        height: 1060px;
    }

    .game-title {
        font-weight: bold;
        color: #006E91;
        font-size: 10em;
    }

    .fake-btn {
        width: 300px;
        height: 180px;
        font-size: 3em;
    }

    .info-title {
        font-size: 5em;
    }

    .info-list {
        padding-top: 2em;
    }

    .rules {
        font-weight: bold;
        margin: 5px;
        margin-left: 30px;
        padding: 3px;
        display: block;
        text-align: left;
        font-size: 3.5em;
    }

    .back-card-button {
        width: 300px;
        height: 180px;
        font-size: 2em;
        
    }

    .quiz_box {
        width: 1000px;
    }

    .quiz_box header .title {
        font-size: 4em;
    }

    .quiz_box header .timer {
        border: 2px solid black;
        height: 55px;
        width: 300px;
        margin-left: 8px;
        padding: 0 6px;
        justify-content: space-around;
    }

    .quiz_box .timer .time-passed {
        font-size: 22px;
        margin-bottom: 1px;
    }

    .quiz_box .timer .timer-sec{
        font-size: 22px;
    }
    #question{
        font-size: 60px;
    }

    .question-section .option_list .option {
        border: 2px solid #263a44;
        font-size: 45px;
    }

    footer {
        height: 105px;
    }

    footer .total_que span {
        display: flex;
        user-select: none;
        font-size: 50px;
    }

    footer #next-btn {
        height: 90px;
        width: 150px;
        font-size: 45px;
        border: 3px solid #CF9FFF;
        letter-spacing: 1.5px;
    }

    .result_box {
        width: 1000px;
    }

    .result_box .icon .fa-crown {
        font-size: 225px;
        padding: .3em 0;
    }

    .congrat-text {
        font-size: 60px;
    }

    .leaderboard header h1{
        font-size: 2rem;
    }

    thead {
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
    }

    tbody td {
        font-size: 1.3rem;
    }

    .result-btn1{
        margin: 10px;
    }

    #clear-board{
        width: 200px;
        height: 100px;
        font-size: 1.6em;
    }

    #replay{
        width: 200px;
        height: 100px;
        font-size: 1.6em;
    }

    #quit{
        width: 200px;
        height: 100px;
        font-size: 1.6em;
    }
}

.hidden {
    display: none;
}
