/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #CF9FFF;
    flex-direction: column;
    margin: 0;
}

h1,
h2 {
    font-family: 'Odibee';
}

.hidden {
    display: none;
}

/* Flip Card */

.maincontainer {
    position: absolute;
    width: 300px;
    height: 360px;
    background: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    border: 1px solid black;
}

.maincontainer:hover>.thecard {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.thefront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background: white;
    color: #000;
}

.theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.game-title {
    margin-top: 40%;
    text-align: center;
    color: #006E91;
    text-shadow: 1.3px 1.3px black;
}

.info-title {
    font-weight: bold;
    color: #006E91;
    padding-top: 1em;
    font-family: 'Odibee';
    font-size: 1.4em;
}

.info-list {
    padding-top: 0.5em;
}

.rules {
    font-weight: bold;
    margin: 2px;
    margin-left: 15px;
    padding: 3px;
    display: block;
    text-align: left;
}

.button-div {
    margin-top: 2.5em;
    width: 100%;
}

.buttons {
    border: 0.18em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    transition: all 0.2s;
    width: 110px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}

.fake-btn-section {
    width: 100%;
    margin-top: 40px;
    border: none;
}

.fake-btn {
    margin: 0 auto;
    display: block;
    background-color: #006E91;
    color: white;
}

.back-card-button {
    margin: 1em;
}

.quit {
    background-color: #bdbdbd;
    border-color: #006E91;
    color: white;
}

.quit:hover {
    background-color: #006E91;
    border-color: #bdbdbd;
    color: white;

}

.continue {
    background-color: #006E91;
    border-color: #bdbdbd;
    color: white;
}

.continue:hover {
    background-color: #bdbdbd;
    border-color: #006E91;
    color: white;
}

/* Quiz Box */
.quiz_box {
    margin-top: 25vh;
    margin-left: .6em;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.3s ease;
    

}

.quiz_box header {
    position: relative;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
    font-size: 22px;
    font-weight: 600;
    color:#006E91;
}

.quiz_box header .timer {
    color:white;
    background: #CF9FFF;
    border: 1px solid black;
    height: 45px;
    margin-left: 10px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    font-weight: bold;
}

.quiz_box header .time-passed{
    color: white;
    font-weight: bold;
}

.que_text{
    margin: 20px;
}

.question-section .que_text .questions{
    
    font-size: 1.5em;
    font-weight: 600;
    color:#006E91;
}

.option_list .option {
    margin: 1em;
    display: flex;
}

.question-section .option_list{
    display: block;
}

.question-section .option_list .option{
    background: #CF9FFF;
    border: 1px solid #263a44;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

.option_list .option:hover{
    color: #004085;
    background: red;
    border: 1px solid green;
}

/* Correct and Incorrect Answers*/

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

/* Quiz-Box Footer*/

footer{
    height: 60px;
    margin-top: 3px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .total_que span {
    display: flex;
    user-select: none;
    font-size: 18px;;
}

.total_que span p{
    font-weight: bold;
    padding: 0 5px;
}

.total_que span p:first-child{
    padding-left: 0px;
}

footer .next-btn{
    height: 50px;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    background: #006E91;
    border: 2px solid #CF9FFF;
    line-height: 10px;
    opacity: 0; 
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}